<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<moowmd.css>

{% load markup %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="Stylesheet" href="site_media/template.css" type="text/css" media="screen" />
	<title>De kartuizer - {{page.title.capitalize}}</title>	
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="links">
				{% for menuitem in menuitems %}
				<a href="{{menuitem.destination}}">{{menuitem.title.capitalize}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
	
	<div class="top">
		<div class="container">
			<div class="inleiding" >
				<h1>{{page.title.capitalize}}</h1>
				{{page.intro|markdown}}
			</div>
			<div class="reviews">
				{% for review in reviews %}
				<p>{{review.content}}</p>
				<p>{{review.author}}</p>
				{% endfor %}			
			</div>
		</div>
		<div class="picture">
			<img src="{{page.image.url}}" alt="{{page.name}}" />
		</div>
	</div>
	
	<div class="content">
		<div class="introduction" >
			<p>{{page.content|markdown}}</p>
		</div>
	</div>
	<script type="text/javascript" src='/path/to/scripts/moowmd.js'></script>
</body>
</html>
