<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load markup %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="Stylesheet" href="site_media/template.css" type="text/css" media="screen" />
	<title>De kartuizer - {{page.title}}</title>	
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="links">
				{% for menuitem in menuitems %}
				<a href="{{menuitem.destination}}">{{menuitem.title}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
	
	<div class="top">
		<div class="container">
			<div class="inleiding">
				<h1>{{page.title}}</h1>
				{{page.intro|markdown}}
			</div>
			<div class="reviews">
				<div class="review_1">
					<p>"Geweldig eten,  fantastische bediening"</p>
					<p>Carpentier Mieke</p>
					<p>Hoflack Jose,  Torhout</p>
				</div>
			</div>
		</div>
		<div class="picture">
			<img src="site_media/resto.jpg" alt="de kartuizer" />
		</div>
	</div>
	
	<div class="content">
		<div class="introduction">
			<p>{{page.content|markdown}}</p>
		</div>
	</div>
</body>
</html>
